.App {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
}

.Intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.App-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Three-headings {
  color: #000;
  font-family: din-condensed-web;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.01em;
  line-height: 0.9em;
}

.Name {
  margin-top: 15px;
  margin-bottom: 15px;

  font-family: ambroise-std;
  font-size: 130px;
  letter-spacing: -3px;
  line-height: 0.9em;
  color: #000;
}

.Bar-intro {
  margin-left: 10px;
  height: 3px;
  width: 180px;
  background-color: rgb(203, 15, 93);
}

.Linkedin {
  margin-left: 15px;
  margin-top: 15px;
  width: 60px;
}
.Github {
  margin-bottom: 1px;
  margin-left: 20px;
  width: 54px;
}

.Portfolio_img {
  width: 350px;
  height: auto;
  text-align: right;
  float: right;
  margin-left: 200px;
}

.Bar {
  align-self: center;
  height: 3px;
  width: 180px;
  background-color: rgb(203, 15, 93);
}

.Short-bar {
  margin-left: 3px;
  align-self: center;
  height: 3px;
  width: 120px;
  background-color: rgb(203, 15, 93);
}

.About-me,
.Resume,
.Contact-Me {
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: ambroise-std;
  font-size: 55px;
  letter-spacing: 1px;
  line-height: 0.9em;
  color: #000;
}
p {
  align-self: center;
  font-family: ambroise-std;
  font-weight: 80;
  font-size: 22px;
  line-height: 1.5em;
}

.About-me-p {
  width: 1000px;
}
h3 {
  /* color: rgb(153, 1, 65); */
}

.Try-demo,
.View-code {
  font-family: Sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  align-self: center;
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  width: 200px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  margin-left: 80px;
}

.View-code {
  margin-left: 20px;
}

.Try-demo:hover,
.View-code:hover {
  background-color: black;
  color: white;
}

.Projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  margin-top: 80px;

  align-self: center;
  font-family: ambroise-std;
  font-size: 40px;
  line-height: 0.9em;
  color: #000;
}

.FitMinded,
.Resume,
.Contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Fit-img {
  width: 350px;
  height: auto;
}
.fit {
  display: flex;
  justify-content: center;
}

.Fit-description p {
  margin-left: 80px;
  text-align: left;
  float: right;
  width: 700px;
}
