.App {
  width: 100%;
}

#Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#Intro {
  padding-top: 230px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 100px;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  padding-bottom: 50px;
}

.Three-headings {
  overflow: hidden;
  border-right: solid rgb(203, 15, 93);
  white-space: nowrap;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  color: #000;
  font-family: ambroise-std;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 0.9em;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(203, 15, 93);
  }
}

.Name {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: ambroise-std;
  font-size: 130px;
  letter-spacing: -3px;
  line-height: 0.9em;
  color: #000;
}

.Bar-intro {
  margin-left: 10px;
  height: 3px;
  width: 180px;
  background-color: rgb(203, 15, 93);
}

.Linkedin {
  margin-left: 15px;
  width: 60px;
}
.Github {
  width: 105px;
}

.Mail {
  width: 60px;
  margin-right: 10px;
  margin-bottom: 4px;
  margin-left: 15px;
}

.Footer-links .Linkedin {
  width: 40px;
  margin-bottom: 1px;
}
.Footer-links .Github {
  width: 75px;
  opacity: 0.75;
}

.Footer-links .Mail {
  width: 40px;
  margin-bottom: 3px;
  margin-right: 4px;
  padding-left: 20px;
}

.Linkedin:hover,
.Github:hover,
.Mail:hover {
  opacity: 0.5;
}

.Portfolio_img {
  padding-top: 20px;
  width: auto;
  height: 500px;
  float: left;
}

.Bar {
  align-self: center;
  height: 3px;
  width: 180px;
  background-color: rgb(203, 15, 93);
}

.Short-bar {
  margin-left: 3px;
  align-self: center;
  height: 3px;
  width: 120px;
  background-color: rgb(203, 15, 93);
}
#About-me,
#Projects,
#Resume,
#Contact-me,
#Footer {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
}

h1 {
  align-self: center;
  font-family: ambroise-std;
  font-size: 55px;
  letter-spacing: 1px;
  line-height: 0.9em;
  color: #000;
}
p {
  align-self: center;
  font-family: ambroise-std;
  font-weight: 80;
  font-size: 22px;
  line-height: 1.5em;
  min-width: 300px;
}

.About-me-p {
  padding-top: 20px;
  max-width: 1000px;
  min-width: 300px;
}

.FitMinded,
.Image-to-voice,
.Car-ify {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
}

.Resume-link {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  flex-wrap: wrap;
}

.Try-demo,
.View-code,
.submit {
  align-self: center;
  font-family: Sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 5px 20px 5px;
  width: 200px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  outline: 0;
}

.Try-demo:hover,
.View-code:hover,
.submit:hover {
  background-color: black;
  color: white;
}

h2 {
  margin-top: 100px;
  margin-bottom: 60px;
  align-self: center;
  font-family: ambroise-std;
  font-size: 40px;
  line-height: 0.9em;
  color: #000;
}

.Fit-img {
  width: auto;
  height: 600px;
}

.imageMac,
.carImage {
  width: auto;
  height: 400px;
}

.fit,
.imageTo,
.Carify {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Fit-description,
.Image-description,
.Car-description {
  min-width: 300px;
}

.Fit-description p,
.Image-description p,
.Car-description p {
  text-align: left;
  float: right;
  max-width: 750px;
  min-width: 300px;
}

form {
  display: flex;
  flex-direction: column;
}

#formName {
  margin-top: 50px;
}

.feedback-input {
  align-self: center;

  font-family: sans-serif;
  font-size: 16px;
  line-height: 25px;
  background-color: transparent;
  border: 2px solid;
  padding: 20px;
  margin-top: 20px;
  outline: 0;
  width: 400px;
}

textarea {
  height: 200px;
}

.feedback-input:focus {
  border-color: rgb(203, 15, 93);
}

.Footer-content {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.Footer-links {
  align-self: center;
}
span {
  padding-top: 20px;
  margin-bottom: 10px;
}
