.Nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: white;
  padding-top: 20px;
  min-width: 100px;
}

html {
  scroll-behavior: smooth;
}

.Mu {
  width: 85px;
  margin-left: 100px;
}

.Mu:hover {
  content: "";
  background-color: rgb(211, 128, 162);
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 80px;
}

ul {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
  font-family: Sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 18px;
  margin-left: 40px;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

.border {
  position: relative;
}

.border::after {
  content: "";
  display: block;
  width: 0;
  height: 10px;
  border-bottom: 3px solid rgb(203, 15, 93);
  transition: width 0.3s;
}

.border:hover::after {
  width: 100%;
}

@media only screen and (max-width: 850px) {
  .Mu {
    width: 50px;
    margin-left: 30px;
  }
  .menu {
    margin-right: 40px;
  }
  li {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .Nav {
    padding-top: 15px;
  }
  li {
    font-size: 11px;
  }
}

@media only screen and (max-width: 550px) {
  .Nav {
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .Mu {
    width: 40px;
    margin-left: 20px;
  }
  .menu {
    margin-right: 20px;
  }
  li {
    font-size: 8px;
    margin-left: 15px;
  }
}
